<html>
	<body>
		<h1>LOGIN</h1>		
		<form action="/user/login" method="post">
			<label>USERNAME:</label>
			<input type="text" name="username">
			</br>
			<label>PASSWORD:</label>
			<input type="password" name="password">
			</br>
			<input type="submit" value="submit">
		</form>
	</body>
</html>