<html>
	<head>
<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>REGISTER</h1>
		
		<form action="/user/add" method="post">
			<label>USERNAME:</label>
			<input type="text" name="username">
			</br>
			<label>PASSWORD:</label>
			<input type="password" name="password">
			</br>
			<label>Data1:</label>
			<input type="text" name="Data1">
			</br>
			<label>Data2:</label>
			<input type="text" name="Data2">
			</br>
			<input type="submit" value="submit">
		</form>
		


	</body>
</html>